extends ./index.jade

block content
  h2 Index page
  a(class="btn btn-primary", href="/items") See items
  a(class="btn btn-danger", href="/exception") See error
  a(class="btn btn-warning", href="/google") See google
