html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(type="text/javascript", src="/reflinks.js")
    script(type="text/javascript", src="/example.js")
    title Reflinks
  body
    h1 Reflinks example application!!
    .container
      block content
