extends ../index
include ./form

block content
  +item_form("POST", "/items")
  h2 List of items
  ul.items.list-group
    each item in items
      li.item.list-group-item
        a(href="/items/" + item.id)= item.label
